.film-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    max-width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.film-list-item .position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    margin: auto 10px 10px 10px;
}

.film-list-item .position .film-releaseDate {
    font-size: 12px;
}
