.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.header a {
    text-decoration: none;
}

.header .header-logo {
    font-size: 32px;
    color: rgb(76, 76, 76);
}

.header form {
    display: flex;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 2px;
}

.header form .search-input {
    width: 300px;
    border: none;
    padding: 2px;
    outline: none;
}

.header form .search-icon {
    width: 32px;
    height: 30px;
    background: url("https://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png") no-repeat top;
    background-size: 25px;
    border: none;
}
