.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
}

.header a {
    text-decoration: none;
}

.header .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2rem;
    color: rgb(76, 76, 76);
    position: relative;
}

.header form {
    display: flex;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 2px;
}

.header .search {
    width: 300px;
    height: 25px;
    border: none;
    padding: 2px;
    outline: none;
}

.header form button {
    width: 32px;
    height: 30px;
    background: url("https://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png") no-repeat top;
    background-size: 25px;
    border: none;
}
