.film-list {
}

.film-list .film-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.film-list .film-list-flex li {
    display: contents;
}

.film-list button {
    display: block;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgb(76 76 76);
    margin: 15px auto;
    width: 300px;
}

.film-list button:hover,
.film-list button:active {
    box-shadow: 0 -3px lightgray inset;
    transition: 0.2s;
}

