.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex .film-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.flex ul {
    padding-left: 0;
}

.film-list li {
    display: contents;
}

.flex button {
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgb(76 76 76);
    margin: 15px;
    width: 300px;
}

.flex button:hover,
.flex button:active {
    box-shadow: 0 -3px lightgray inset;
    transition: 0.2s;
}

